{% extends 'main/layout.html' %}
{% block title %}овости{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Новости</h1>
   {% if news %}
        {% for news in news %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ news.title }}</h2>
                <p class="card-text">{{ news.short_description }}</p>
                <p class="card-text">{{ news.content }}</p>
                <p class="card-text text-muted"><small>Опубликовано: {{ news.created_at }}</small></p>
                <p class="card-text"><small>Автор: {{ news.author }}</small></p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Новостей пока нет</p>
    {% endif %}
{% endblock %}