{% extends 'main/layout.html' %}
{% block title %} Что такое Django?{% endblock %}
{% block content %}

<div class="container mt-5">
        <h1 class="text-center">Что такое Django?</h1>
        <div class="mt-4">
            <h2>История Django</h2>
            <p>
                Django был создан в 2003 году разработчиками из Lawrence Journal-World как фреймворк для упрощения создания сложных веб-приложений.
                В 2005 году он стал открытым проектом, что привлекло внимание разработчиков по всему миру.
                С тех пор Django стал одним из самых популярных фреймворков для веб-разработки, благодаря своей мощной архитектуре и удобству использования.
            </p>
        </div>
        <div class="mt-4">
            <h2>Ключевые особенности</h2>
            <ul>
                <li>
                    <strong>Админка:</strong> Django автоматически генерирует административный интерфейс, который позволяет удобно управлять данными приложения.
                </li>
                <li>
                    <strong>ORM (Object-Relational Mapping):</strong> Django предоставляет мощный ORM, который упрощает работу с базами данных и позволяет использовать Python-код вместо SQL.
                </li>
                <li>
                    <strong>Маршрутизация:</strong> Фреймворк поддерживает простую и гибкую маршрутизацию URL, что позволяет легко настраивать маршруты для различных представлений.
                </li>
                <li>
                    <strong>Безопасность:</strong> Django имеет множество встроенных функций безопасности, таких как защита от SQL-инъекций, XSS и CSRF, что делает его надежным выбором для создания защищенных веб-приложений.
                </li>
            </ul>
        </div>
        <div class="mt-4">
            <h2>Примеры известных проектов, использующих Django</h2>
            <p>
                Django используется многими крупными компаниями и проектами, включая:
            </p>
            <ul>
                <li><strong>Instagram:</strong> Один из крупнейших социальных сетей, использующий Django для своей масштабируемой архитектуры.</li>
                <li><strong>Pinterest:</strong> Популярная платформа для обмена изображениями, которая также построена на базе Django.</li>
                <li><strong>Mozilla:</strong> Организация использует Django для разработки различных своих веб-приложений и сервисов.</li>
                <li><strong>Disqus:</strong> Система комментариев, которая позволяет пользователям оставлять комментарии на различных веб-сайтах, также построена на Django.</li>
            </ul>
        </div>
    </div>
{% endblock %}