<footer class="bg-light text-center text-lg-start mt-5">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-12 col-md-12 mb-4 mb-md-0">
                    <p>© 2023 CatDjango. Все права защищены.</p>
                    <p>
                        <a href="#" class="text-decoration-none">Политика конфиденциальности</a> |
                        <a href="#" class="text-decoration-none">Условия использования</a>
                    </p>
                    <p>Следите за нами в социальных сетях:
                    <a href="https://github.com" class="text-decoration-none" target="_blank">
                        <i class="fab fa-github">github</i></p>
                    </a>
                </div>
            </div>
        </div>
    </footer>