{% extends 'main/layout.html' %}
{% block title %}Ресурсы О Джанго{% endblock %}
{% block content %}

<div class="container mt-5">
        <h1 class="text-center">Ресурсы о Django</h1>
        <div class="mt-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5><a href="https://www.djangoproject.com/" target="_blank">Официальный сайт Django</a></h5>
                    <p>На официальном сайте представлена документация, руководства, новости и информация о сообществе Django.</p>
                </li>
                <li class="list-group-item">
                    <h5><a href="https://docs.djangoproject.com/en/stable/" target="_blank">Документация Django</a></h5>
                    <p>Полная документация по Django, включая учебники, API и примеры использования.</p>
                </li>
                <li class="list-group-item">
                    <h5><a href="https://www.djangoproject.com/community/" target="_blank">Сообщество Django</a></h5>
                    <p>Информация о различных ресурсах сообщества, включая форумы, группы и события.</p>
                </li>
                <li class="list-group-item">
                    <h5><a href="https://realpython.com/tutorials/django/" target="_blank">Real Python - Django Tutorials</a></h5>
                    <p>Серия учебников по Django на Real Python, охватывающая различные аспекты разработки веб-приложений.</p>
                </li>
                <li class="list-group-item">
                    <h5><a href="https://www.udemy.com/courses/search/?q=django" target="_blank">Udemy - Курсы по Django</a></h5>
                    <p>Платформа Udemy предлагает множество курсов по Django для разработчиков разных уровней.</p>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}