{% extends 'main/layout.html' %}
{% block title %}Уроки Django{% endblock %}
{% block content %}

  <div class="container mt-5">
        <h1 class="text-center">Уроки по Django</h1>
        <div class="list-group mt-4">
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="mb-1">Урок 1: Введение в Django</h5>
                <p class="mb-1">В этом уроке вы узнаете, что такое Django и как он работает. Мы рассмотрим основные концепции и архитектуру фреймворка.</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="mb-1">Урок 2: Установка и настройка</h5>
                <p class="mb-1">В этом уроке мы пройдем через процесс установки Django и его начальной настройки для разработки.</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="mb-1">Урок 3: Создание первого приложения</h5>
                <p class="mb-1">В этом уроке вы научитесь создавать свое первое приложение на Django и разберете его структуру.</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="mb-1">Урок 4: Работа с базами данных</h5>
                <p class="mb-1">В этом уроке мы изучим, как Django взаимодействует с базами данных, и как выполнять операции CRUD.</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="mb-1">Урок 5: Кастомизация админки</h5>
                <p class="mb-1">В этом уроке вы узнаете, как настраивать и кастомизировать административную панель Django.</p>
            </a>
        </div>
    </div>

{% endblock %}